input {
    display: none; 
}

.select-file {
    display: inline-block;
    margin: 40px auto;
    padding: 25px 40px;
    width: 400px;
    background-color: #1AA1FF;
    border-radius: 5px;
    color: #F7F7F7;
    cursor: pointer;
    font-weight: 700;
    z-index: 1; 
}

.select-file:hover {
    background-color: #136EB6; 
}
